form{
    width: 85%;
    margin-left: 10%;
    height: 200%;
    position: center;
    font-size: 120%;  

}
.container{
    margin-top: 10%;
}
.card-body{
    background-color:transparent;
    filter:alpha(opacity=70);
}
#btn{
    color: rgb(0, 102, 255);
    text-decoration: underline;
    font-size: 115%;
}
p{
    font-size: 125%;
}
