<app-navbar></app-navbar>
<br>
<div class="container" >
    <div class="card">
        <div class="card-body">
            <span class="h1">Tus Medicamentos</span>
            <!--Buton dirige a create-medicina-->
            <button class="btn btn-dark btn-lg float-end" routerLink="/create-medicine">Agregar</button>
            <!--Tabla de medicina-->
            <h4 class="text-center mt-5" *ngIf="medicinas.length < 1">No hay datos para mostrar</h4>
            <table *ngIf="medicinas.length > 0" class="table table-striped mt-5">
                <thead >
                  <tr>
                    <th>Codigo</th>
                    <th>Medicamento</th>
                    <th>Dosis recetada</th>
                    <th>Horario de dosis</th>
                    <th>Función</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let medicina of medicinas">
                    <td style="margin-top:55% ;">{{medicina.codigo}}</td>
                    <td>{{medicina.medicamento}}</td>
                    <td>{{medicina.dosis}}</td>
                    <td>{{medicina.horario}}</td>
                    <td>{{medicina.funcion}}</td>
                    <td>
                      <i class=" mr-4 fas fa-edit fa-lg text-info" [routerLink]="['/editMedicine/',medicina.id]"></i>
                      <i (click)="eliminarMedicina(medicina.id)" class="fas fa-trash-alt fa-lg text-danger"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>


