<app-navbar></app-navbar>
<br>
<div class="container" >
    <div class="card">
        <div class="card-body">
            <span class="h3 float-">Tus medicamentos</span>
            <!--Buton dirige a create-medicina-->
            <button class="btn btn-dark btn-lg float-end" routerLink="/create-medicine">Agregar</button>
            <!--Tabla de medicina-->
            <table class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th>Medicamento</th>
                    <th>Dosis recetada</th>
                    <th>Horario de dosis</th>
                    <th>Función</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td >1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>
                      <i class="fas fa-edit fa-lg text-info" style="margin-right:5%;"></i>
                      <i class="fas fa-trash-alt fa-lg text-danger"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>


