@import '~ngx-toastr/toastr';
body{
   
    background: linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.6)), url('./assets/fondo.jpg');
    background-position: fixed;
    background-size: cover;
  
    
}